## Sorting lists

word tally: winnowing, supple, "world-class glower-er", persnickety

In [1]:
x = ["duck", "aardvark", "crocodile", "emu", "bee"]

In [2]:
sorted(x)

['aardvark', 'bee', 'crocodile', 'duck', 'emu']

In [3]:
x.sort()

In [4]:
x

['aardvark', 'bee', 'crocodile', 'duck', 'emu']

In [5]:
#sorted by second letter: ['aardvark', 'bee', 'emu', 'crocodile', 'duck']
sorted(x, reverse=True)

['emu', 'duck', 'crocodile', 'bee', 'aardvark']

In [6]:
#sadly does not work: sorted(x, by_second_letter=True)

In [7]:
#sorted(x, key=???)

In [8]:
def get_second_letter(s):
    return s[1]

In [9]:
get_second_letter("cheese")

'h'

In [10]:
sorted(x, key=get_second_letter)

['aardvark', 'bee', 'emu', 'crocodile', 'duck']

In [11]:
type("hello")

str

In [12]:
type(get_second_letter)

function

## lambda functions
writing a function on a single line

In [13]:
# normal function
def get_second_letter(s):
    return s[1]

In [14]:
get_second_letter = lambda s: s[1]

In [15]:
#functions written with the lambda function can be written on one line
#def name (parameters):
#return expr
#AKA name = lambda params: expr

In [16]:
get_second_letter("hello")

'e'

In [17]:
type(lambda s: s[1])

function

In [18]:
x

['aardvark', 'bee', 'crocodile', 'duck', 'emu']

In [19]:
sorted(x, key=lambda s: s[1])

['aardvark', 'bee', 'emu', 'crocodile', 'duck']

In [20]:
#a list of planet names sorted by not the name but by the number of moons
[p['name'] for p in sorted(planets, key=lambda x: x['moons'])]

NameError: name 'planets' is not defined

In [ ]:
def get_moon_count(d):
    return d['moons']
[p['name'] for p in sorted(planets, key=get_moon_count)]
[p['name'] for p in sorted(planets, key=lambda d: d['diameter'], reverse=True)]

[p['name'] for p in \
sorted(planets, key=lambda d: d['diameter'], reverse=True) \
if p['diameter'] > 4]

## tuple (not "toople", "tuple" rhymes with "supple")
tuple is kind of like a strict list

In [21]:
t = (5, 10, 15)

In [22]:
type(t)

tuple

In [23]:
t[0]

5

In [24]:
for item in t:
    print(item * item)

25
100
225

In [25]:
t.append(30)

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
carefree_list = [5, 10, 15, 20, 25]

In [27]:
carefree_list.append(30)

In [28]:
carefree_list

[5, 10, 15, 20, 25, 30]

In [29]:
carefree_list[1] = "Boris"

In [30]:
carefree_list

[5, 'Boris', 15, 20, 25, 30]

In [31]:
t[1] = "Boris"

TypeError: 'tuple' object does not support item assignment

In [39]:
#tuple is kind of like a list but can't be changed after you create it.
#can't be changed, it's an 'immutable' data type
#one benefit is exactly that: it CAN'T be changed.
#other benefit is that tuples are memory-efficient
#a list is a notebook, a tuple is a stone tablet

In [36]:
hello = [1, 2, 3]

In [35]:
foo = (1, 2, 3)

In [37]:
import sys
sys.getsizeof(hello)

48

In [38]:
sys.getsizeof(foo)

40

## back to regular expressions for a sec
### grouping with multiple matches in the same string

In [40]:
import re
test = "one 1 two 2 three 3 four 4 five 5"
re.findall(r"\w+ \d", test)

['one 1', 'two 2', 'three 3', 'four 4', 'five 5']

In [41]:
for item in re.findall(r"\w+ \d", test):
    x = item.split(" ")
    print(x[0])
    print(x[1])

one
1
two
2
three
3
four
4
five
5

In [42]:
test = "one 1 two 2 three 3 four 4 five 5"
re.findall(r"(\w+) (\d)", test)

[('one', '1'), ('two', '2'), ('three', '3'), ('four', '4'), ('five', '5')]

In [43]:
all_subjects = open("enronsubjects.txt").read()

FileNotFoundError: [Errno 2] No such file or directory: 'enronsubjects.txt'

### monetary amounts in the subject lines
match something like $10 m,k,b

In [ ]:
re.findall(r"\$(\d+) ?(\w+)", all_subjects)

In [ ]:
vals = []
for item in re.findall(r"\$(\d+) ?(\w+)", all_subjects):
    multiplier = item[1].lower()
    number_val = int(item[0])
    if multiplier == 'k':
        number_val *=1000
    elif multiplier == 'm':
        number_val *= 1000000000
    vals.append(number_val)
sum(vals)

### substitution with regular expressions

In [44]:
message = "this is a test, this is only a test"

In [46]:
message.replace("this", "that").replace("test", "walrus")

'that is a walrus, that is only a walrus'

In [ ]:
re.findall(r"\d{3}-\d{3}-\d{4}", all-subjects)

In [47]:
message = "This is a test; this is only a test."
re.sub(r"[Tt]his", "that", message)

'that is a test; that is only a test.'

In [48]:
message

'This is a test; this is only a test.'

In [49]:
re.sub(r"\b\w+\b", "WALRUS", message)

'WALRUS WALRUS WALRUS WALRUS; WALRUS WALRUS WALRUS WALRUS WALRUS.'

In [ ]:
anon = re.sub(r"\d{3}-\d{3}-\d{4}.{}", anon)
#"hack-y"

In [ ]:
re.findall(r".{,20}\d{3}-\d{3}-X{4}.{,20}", anon)

In [50]:
#git add .
#git commit -m"somethin somethin about stuff"
#git push

## HTML to SQL

scraping menupages

In [51]:
#syntax: urlretrieve(url, filename)
from urllib.request import urlretrieve
urlretrieve("https://raw.githubusercontent.com/ledeprogram/data-and-databases/master/menupages-morningside-heights.html", "menupages-morningside-heights.html")

('menupages-morningside-heights.html', <http.client.HTTPMessage at 0xfeda3150>)

store:

* restaurant name
* price ($$$$$)
* cuisines

research phase:
* every restaurant has a `<tr>` that is a child of the `<table>` tag with search-results
* restaurants are in <td> tags with class `name-address`
* restaurant names are in a `<a> tag inside that `<td>`
* restaurant price in a `span` inside a `<td>`
* the cuisine of the restaurant is in a `<td>` tag with no class, the fifth `<td>` tag that is a child of the restaurant's `<tr>`

target:
*list of dictionaries
[
{'name': "Brad's", 'price': 1, 'cuisines': ['coffee']},
{'name': "Cafe Nana", 'price': 0, 'cuisines': ['Middle Eastern', 'Kosher]},
...

good idea to - save a copy of the HTML you're going to scrape in case it changes on the actual page

In [52]:
from bs4 import BeautifulSoup

In [53]:
raw_html = open("menupages-morningside-heights.html").read()
soup = BeautifulSoup(raw_html, "html.parser")

In [56]:
#here are JUST the names
search_table = soup.find("table", {'class': 'search-results'})
table_body = search_table.find('tbody')
for tr_tag in table_body.find_all('tr'):
    name_address_tag = tr_tag.find('td', {'class': 'name-address'})
    a_tag = name_address_tag.find('a')
    print(a_tag.string)

Milano Market
Massawa
China Place
Subsconscious
Famous Famiglia
Kitchenette
V & T Pizza
New Aroma
Peking Garden
Tom's Restaurant
Pisticci
Deluxe
Toast
Tom's Delicious Pizza
West Place
Che' Bella Pizza
Ajanta
Panino Sportivo Roma
Max Soha
Strokos Pizza
Camille's
Amsterdam Restaurant
Nussbaum & Wu
Amir's Grill
M2M - Morning To Midnight
The Mill
Le Monde
Melba's
Chuck E Cheese's
Haagen-Dazs
Oren's
Dinosaur Bar-B-Que
Symposium Greek Restaurant
Koronet Pizza
The Heights Bar & Grill
Cafe Nana
Hamilton Deli
Community Food & Juice
Haakon's Hall
El Porton
Brad's
Mel's Burger Bar
Bettolona
Five Guys
Nikko
Falafel on Broadway
Sushi Sushi
Insomnia Cookies
Cafe Amrita
Pinkberry
Artopolis Espresso Cafe
Max Caffe
Chipotle
Chokolat Patisserie
Chokolat Patisserie
Joe's G-H Deli
Joe the Art of Coffee
Levain Bakery
Silvana
Bier International
Vegenation
Flat Top
Kuro Kuma
Vinateria
Henan Cart
Vine
El Paso Truck
Mama's Fried Chicken and Pizza
Chapati House
Dig Inn Seasonal Market
Uncle Luoyang
Pita Grill
Kissaten Jin
Serengeti Teas & Spices
Lighthouse Fish Market & Restaurant
Lolo's Seafood Shack
Harmony
Bernheim & Schwartz
BTH (By The Hudson)
Empanadas Monumental
Friedman's
176 Presbyterian Deli
Nacho Mama's
Streetbird Rotisserie
Colum Chinese Restaurant
Flacoz Tacoz
sweetgreen
La Salle Dumpling Room

In [57]:
#time for names AND prices
search_table = soup.find("table", {'class': 'search-results'})
table_body = search_table.find('tbody')
for tr_tag in table_body.find_all('tr'):
    #get the restaurant name from the a inside a td
    name_address_tag = tr_tag.find('td', {'class': 'name-address'})
    a_tag = name_address_tag.find('a')
    restaurant_name = a_tag.string
    #get the price from the span if present
    price_tag = tr_tag.find('td', {'class': 'price'})
    price_span_tag = price_tag.find('span')
    if price_span_tag:
        price = int(price_span_tag.string)
    else:
        price = 0
    print(restaurant_name, price)

Milano Market 2
Massawa 0
China Place 0
Subsconscious 0
Famous Famiglia 0
Kitchenette 0
V & T Pizza 0
New Aroma 1
Peking Garden 1
Tom's Restaurant 1
Pisticci 1
Deluxe 1
Toast 2
Tom's Delicious Pizza 2
West Place 1
Che' Bella Pizza 0
Ajanta 0
Panino Sportivo Roma 2
Max Soha 2
Strokos Pizza 3
Camille's 1
Amsterdam Restaurant 1
Nussbaum & Wu 0
Amir's Grill 1
M2M - Morning To Midnight 1
The Mill 2
Le Monde 1
Melba's 1
Chuck E Cheese's 0
Haagen-Dazs 1
Oren's 0
Dinosaur Bar-B-Que 3
Symposium Greek Restaurant 0
Koronet Pizza 1
The Heights Bar & Grill 1
Cafe Nana 0
Hamilton Deli 0
Community Food & Juice 0
Haakon's Hall 0
El Porton 0
Brad's 1
Mel's Burger Bar 2
Bettolona 1
Five Guys 1
Nikko 2
Falafel on Broadway 1
Sushi Sushi 1
Insomnia Cookies 1
Cafe Amrita 1
Pinkberry 2
Artopolis Espresso Cafe 1
Max Caffe 2
Chipotle 1
Chokolat Patisserie 5
Chokolat Patisserie 1
Joe's G-H Deli 2
Joe the Art of Coffee 1
Levain Bakery 2
Silvana 1
Bier International 1
Vegenation 1
Flat Top 4
Kuro Kuma 1
Vinateria 2
Henan Cart 1
Vine 2
El Paso Truck 1
Mama's Fried Chicken and Pizza 1
Chapati House 2
Dig Inn Seasonal Market 1
Uncle Luoyang 1
Pita Grill 2
Kissaten Jin 1
Serengeti Teas & Spices 2
Lighthouse Fish Market & Restaurant 3
Lolo's Seafood Shack 2
Harmony 1
Bernheim & Schwartz 2
BTH (By The Hudson) 3
Empanadas Monumental 0
Friedman's 0
176 Presbyterian Deli 0
Nacho Mama's 0
Streetbird Rotisserie 0
Colum Chinese Restaurant 0
Flacoz Tacoz 0
sweetgreen 0
La Salle Dumpling Room 0

In [30]:
def get_name(tr_tag):
    name_address_tag = tr_tag.find('td', {'class': 'name-address'})
    a_tag = name_address_tag.find('a')
    restaurant_name = a_tag.string
    return restaurant_name
def get_price(tr_tag):
    price_tag = tr_tag.find('td', {'class': 'price'})
    price_span_tag = price_tag.find('span')
    if price_span_tag:
        price = int(price_span_tag.string)
    else:
        price = 0
    return price
def get_cuisines(tr_tag):
    all_td_tags = tr_tag.find_all('td')
    cuisine_tag = all_td_tags[4]
    cuisines = cuisine_tag.string
    cuisines_list = cuisines.split(", ")
    return cuisines_list

In [32]:

search_table = soup.find("table", {'class': 'search-results'})
table_body = search_table.find('tbody')
for tr_tag in table_body.find_all('tr'):
   restaurant_name = get_name(tr_tag)
   price = get_price(tr_tag)
   cuisines = get_cuisines(tr_tag)
print(restaurant_name, price)

NameError: name 'soup' is not defined

## Putting this stuff into SQL
"schema" -> designing the tables

* what table(s) do we need?
* What should those tables have in them? (columns and data types)

"data normalization" "normal form"
"entities"
* restaurant name, price, list of cuisines
* which cuisines a restaurant is associated with

restaurant table: 
* `id` (unique integer identifying the restaurant)
* `name` (string with the restaurant's name)
* `price` (integer that corresponds to the number of dollar signs)

cuisine table:
* `restaurant_id` (number associated with restaurant)
* `kind` (string that identifies the cuisine type itself)
```
sample entry from restaurant table
id: 4
name: Brad's
price: 1
```

```
sample entry from cuisine table
restaurant_id: 4
kind: coffee-tea

restaurant_id: 4
kind: seafood
```

"setup phase" -> creating dtabases and creating tables "one time" -> psq1
"working with data phase" -> inserting records, selecting stuff -> python

sql data types like
* int integer
* varchar(n) string with length n
* numeric number/decimal
* 'serial' -> integer that is automatically assigned

In [5]:
import pg8000
conn = pg8000.connect(database="menupages", user="postgres", password="beowulf")

In [6]:
type(conn)

pg8000.core.Connection

In [8]:
conn.rollback() #execute this whenever there is a SQL problem

In [10]:
cursor = conn.cursor()

cursor objct:
* .execute() <- execute a SQL statement
* .fetchone() <- fetches the frist record of teh results of a statement (as a list)
* .fetchall() <- returns ALL the rows of the results of a statement (as a list of lists)

In [11]:
cursor.execute("INSERT INTO restaurant (name, price) VALUES ('Good Food Place', 3)")
conn.commit()

In [12]:
cursor.execute("SELECT * FROM restaurant")
for item in cursor.fetchall():
    print(item)

[4, 'Panino Sportivo Roma', 2]
[5, 'Max Soha', 2]
[6, 'Good Food Place', 3]

In [13]:
cursor.execute("INSERT INTO restaurant (name, price) VALUES ('Palace of Vegan Nosh', 3) RETURNING id")
results = cursor.fetchone()[0] #getting what we specified after RETURNING
conn.commit()

In [14]:
results

7

In [15]:
rowid = results[0]

TypeError: 'int' object is not subscriptable

In [16]:
rowid

NameError: name 'rowid' is not defined

In [17]:
cursor.execute("INSERT INTO restaurant (name, price) VALUES ('Blah Whatever', 1) RETURNING id")
results = cursor.fetchone()[0] #getting what we specified after RETURNING
conn.commit()

In [18]:
rowid

NameError: name 'rowid' is not defined

## quoting and parameters in SQL

In [ ]:
#will not work (possessive apostrophe!)
cursor.execute("INSERT INTO restaurant (name, price) VALUES ('Brad's', 1) RETURNING id")
rowid = cursor.fetchone()[0] 
conn.commit()

In [ ]:
#SQL injection attack!
restaurant = "(Restaurant'); DELETE FROM restaurant;"

string in python -> "quote" "escape" -> valid sql statement
VERY WEIRD, DIFFICULT, ARCANE

In [19]:
# 'parameters'
rest_insert = "INSERT INTO restaurant (name, price) VALUES (%s, %s)"
cursor.execute(rest_insert, ["Brad's", 1])
#pg8000 does the work: "INSERT INTO restaurant (name, price) VALUES ('Brad\'s', 1)"
conn.commit()

## insert a restaurant and its cuisines

In [20]:
cursor.execute("INSERT INTO restaurant (name, price) VALUES (%s, %s) RETURNING id",
               ["Test Restaurant", 2])
rowid = cursor.fetchone()[0]
conn.commit()

In [21]:
rowid

10

In [23]:
#test restaurant serves fondue and casseroles
cuisine_insert = "INSERT INTO cuisine (restaurant_id, kind) VALUES (%s, %s)"
cursor.execute(cuisine_insert, [rowid, "fondue"])
cursor.execute(cuisine_insert, [rowid, "casseroles"])
conn.commit()

## insert MANY restaurants

In [24]:
restaurants

NameError: name 'restaurants' is not defined

In [25]:
rest_insert = "INSERT INTO restaurant (name, price) VALUES (%s, %s)"
for item in restaurants:
    #execute SQL statement with data from the restaurant
    cursor.execute(rest_insert, [item['name'], item['price']] )
conn.commit()

NameError: name 'restaurants' is not defined

(not supposed to work but for other reasons)

In [26]:
first = restaurants[0]
first

NameError: name 'restaurants' is not defined

In [27]:
print(first['name'])
type(first['name'])

NameError: name 'first' is not defined

so what happened? why isn't this just a string?
whenever you use the `.string` attribute of a Beautiful Soup tag object, the type of that value is `bs4.element.NavigableString`.
fortunately, an easy fix: `str(val)`

In [28]:
rest_insert = "INSERT INTO restaurant (name, price) VALUES (%s, %s)"
for item in restaurants:
    #execute SQL statement with data from the restaurant
    cursor.execute(rest_insert, [str(item['name']), item['price']] )
conn.commit()

NameError: name 'restaurants' is not defined

## inserting both restaurants AND their cuisines

In [29]:
rest_insert = "INSERT INTO restaurant (name, price) VALUES (%s, %s) RETURNING id"
cuisine_insert = "INSERT INTO cuisine (restaurant_id, kind) VALUES (%s, %s)"
for item in restaurants:
    print("inserting restaurant ", item['name'])
    #insert restaurant, RETURNING id
    cursor.execute(rest_insert, [str(item['name']), item['price']] )
    rowid = cursor.fetchone()[0]
    for cuisine in item['cuisines']:
        cursor.execute(cuisine_insert, [rowid, str(cuisine)])
        #insert restaurant_id, cuisine kind into cuisine table
conn.commit()

NameError: name 'restaurants' is not defined

In [ ]:
poem = """Whose woods these are I think I know
His house is in the village though"""